{% extends '::base.html.twig' %}
{% block body %}
    <h1>Book Keeping App</h1>
    <ul>
        {% for book in books %}

            <table class='paddingBetweenRows'>
            <tr>

                <td>
                    {{ book.title }}</td>
            <td><a href="{{ path('book_show',{'id':book.id}) }}">View Book</a>
             </td>
            </tr>
            </table>

            {% endfor %}
    </ul>

    <p><a href="{{ path('book_new') }}">Create New Book</a></p>

{% endblock %}